 
/* Content */
body{
	color:#FFFFFF;
	background:#000000;
	font-size: 1em;
	-ms-content-zooming: none;
	/*font-family: Tiresias Keyfont V2;*/
}

.BibleContents{
	font-family: sans-serif;
	word-spacing: 0.5em;
	letter-spacing: 0.1em;
	line-height: 150%;
	text-align: justify;
	max-width: 20em;
	margin: auto;
	/*text-align-last: center;*/
}

p.Contents{
	text-indent: 1em;
}

.BibleReference {
	font-style: italic;
	color: #00ff00;
	transition: 0.3s;
}

#MainField{
	max-width: 20em;
	margin: auto;
}

em {
	font-family: serif;
}

SPAN.VerseNum{
	color: #00ff00;
	font-style: italic;
	/*font-family: serif;*/
}

/* Navigation */

/*    Navigation */
input,select{
	font-size: 1em;
	background-color: #d3d3ff;
	border-radius: 0.6em;
	border-width: 0px;
	margin: 0.2em;
	padding: 0.3em;
	transition: 0.3s; /* Transition effects on hover */
}

input:hover,select:hover{
	background-color: #bbbbff;
}

#status{
	background:#222222;
	position:fixed;
	left:0px;
	top:0px;
	width:100%;
	height:5em;
	/*padding:0.5em;*/
}

#btmstatus{
	background:#222222;
	position:fixed;
	left:0px;
	top: calc(100vh - 4em);
	width:100%;
	height:2em;
	padding:1em;
}
/* The Overlay (background) */
.overlay {
	/* Height & width depends on how you want to reveal the overlay (see JS below) */   
	height: 0;
	width: 100%;
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
	overflow-x: hidden; /* Disable horizontal scroll */
	transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
	position: relative;
	top: 25%; /* 25% from the top */
	width: 100%; /* 100% width */
	text-align: center; /* Centered text/links */
	margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}
/* The navigation links inside the overlay */
.overlay a {
	padding: 8px;
	text-decoration: none;
	font-size: 36px;
	color: #818181;
	display: block; /* Display block instead of inline */
	transition: 0.3s; /* Transition effects on hover */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
	color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
	position: absolute;
	top: 20px;
	right: 45px;
	font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
	.overlay a {font-size: 20px}
	.overlay .closebtn {
		font-size: 40px;
		top: 15px;
		right: 35px;
	}
}


/*    Search */

@media only screen and (max-width: 30em) {
	#Search{
		background:#000000;
		position:fixed;
		margin: none;
		padding: 3px;
		width:100%;
		box-shadow:  0px 0px 1em white;
	}
}

@media only screen and (min-width: 30em) {
	/* For desktops: */
	#Search{
		background:#000000;
		position:fixed;
		border-radius: 0.5em;
		left:50%;
		top:50vh;
		transform: translate(-50%, -50%);
		padding: 3px;
		width:30em;
		box-shadow:  0px 0px 1em white;
	}
}

#searchBox{
	width: calc(100% - 6px - 5em);
	cursor: text;
	padding: 3px;
	margin: 3px;
	white-space:nowrap;
}

#SearchHighLight{
   color:#ff00ff;
}

.does{
	color: #00ff00;
}

span.SearchResult{
	background: #444444;
	/*border-top: 1px solid #888888;
	border-bottom: 1px solid #888888;*/
	border-radius: 10px;
	margin:2px;
	color:#FFFFFF;
	cursor:pointer;
	display:block;
	padding:10px;
	/*margin:10px;*/
	transition: 0.3s; /* Transition effects on hover */
}

span.SearchResult:hover, span.SearchResult:active{
	text-decoration: none;
	color:#eeeeFF;
	text-shadow: 0px 0px 1em white;
	/*background: #555555;*/
	/*cursor:text;*/
}

#BottomGap {
	width: 100%;
	height: 100vh;
}
#TopGap {
	width: 100%;
	height: 6em;
	/*background-color: green;*/
}
/* Hidden */
div.searchoptionscolumn{
	width: 33.33%;
	float: left;
	white-space: nowrap;
}

span.radiospan, span.checkboxspan{
	cursor:  default;
	overflow:  hidden;
	transition: 0.3s; /* Transition effects on hover */
}
span.radiospan:hover, span.checkboxspan:hover{
	/*color: #00ff00;*/
	text-shadow: 0px 0px 1em white;
	/*font-weight: bold;*/
	overflow:visible;
}

#MyCode{
	margin:10;
	border: 2px solid #Ff0;
	padding:10;
	font-family:Courier New;
	font-size:20;
}
